.Nav{
  background: #fff;
  padding: 15px;
  margin: 30px auto;
  margin-bottom: 0%;
  max-width: 80vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.Nav p{
  font-size: 50px;
  font-weight:300;

}



